 **Esteban Javier Berumen Nieto**

In [3]:
import pandas as pd
import sweetviz as sv

In [4]:
path = "/adult.data"

In [10]:
df = pd.read_csv(path, header= None)
df.columns = ["Age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"	]
df

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

a) How many observations are there?  
    32561

In [11]:
df.shape

(32561, 15)

b) How many features are there?   
15

c) What type of “native-country” feature is it?  
Categorico

d) What is the average age of the entire dataset?  
38.58

In [13]:
df["Age"].mean()

38.58164675532078

e) Does age follow a normal distribution? How do you know?  
Gracias a su skew y su kurt podemos decir que no sigue una distribucion tan cercana a la normal dado que el skew no es tan cercano a 0

In [15]:
df["Age"].skew()

0.5587433694130484

In [16]:
df["Age"].kurt()

-0.16612745957143904

F) How many women with master's degrees are in the dataset?  
536

In [32]:
df[(df["sex"].str.contains(" Female")) & (df["education"].str.contains(" Masters"))].shape

(536, 15)