In [2]:
import pandas as pd 
import sweetviz as sv

In [3]:
path = "../data/raw/ejalisco2016.csv"
df = pd.read_csv(path, encoding= "ISO-8859-1")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6675 entries, 0 to 6674
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CLAVE DE INMUEBLE               6675 non-null   object
 1   TECNOLOGIA INSTALADA            6673 non-null   object
 2   ANCHO DE BANDA CONTRATADO 2014  6674 non-null   object
 3   INSTITUCION                     6675 non-null   object
 4   NOMBRE DEL CENTRO               6670 non-null   object
 5   TURNO/HORARIO                   6633 non-null   object
 6   NIVEL                           6631 non-null   object
 7   REGION                          6662 non-null   object
 8   MUNICIPIO                       6673 non-null   object
 9   LOCALIDAD                       6661 non-null   object
 10  DOMICILIO                       6674 non-null   object
 11  CODIGO POSTAL                   6646 non-null   object
 12  LONGITUD                        6623 non-null   object
 13  LATITUD                         6623 non-null   object
 14  ESTATUS                         6675 non-null   object
dtypes: object(15)
memory usage: 782.4+ KB

In [5]:
df.describe()

,CLAVE DE INMUEBLE,TECNOLOGIA INSTALADA,ANCHO DE BANDA CONTRATADO 2014,INSTITUCION,NOMBRE DEL CENTRO,TURNO/HORARIO,NIVEL,REGION,MUNICIPIO,LOCALIDAD,DOMICILIO,CODIGO POSTAL,LONGITUD,LATITUD,ESTATUS
count,6675,6673,6674,6675,6670,6633,6631,6662,6673,6661,6674,6646,6623,6623,6675
unique,5675,5,7,26,3070,82,111,15,134,1043,4749,717,4815,4729,3
top,1408213B,iMAX,2 MB,SEJ,N/D,MATUTINO,PRIMARIA,CENTRO,GUADALAJARA,GUADALAJARA,CONOCIDO,N/D,-103.3919444,20.6763889,SUSPENDIDO
freq,19,3900,5458,4991,305,3650,2424,2748,794,733,470,613,30,31,2774

In [12]:
df["ESTATUS"].value_counts()

ESTATUS
SUSPENDIDO      2774
SIN SERVICIO    2211
ACTIVO          1690
Name: count, dtype: int64

In [18]:
df.head()

,CLAVE DE INMUEBLE,TECNOLOGIA INSTALADA,ANCHO DE BANDA CONTRATADO 2014,INSTITUCION,NOMBRE DEL CENTRO,TURNO/HORARIO,NIVEL,REGION,MUNICIPIO,LOCALIDAD,DOMICILIO,CODIGO POSTAL,LONGITUD,LATITUD,ESTATUS
0,14000098,iMAX,2 MB,SEJ,NOMBRE EN TRAMITE,MATUTINO,PRIMARIA,CENTRO,TLAJOMULCO DE ZUÑIGA,TLAJOMULCO DE ZUÑIGA,COL. DEL ROBLE ZONA 198 SECTOR 26,45640,103¡23'58.20,20¡30'18.00,ACTIVO
1,105SP,iMAX,2 MB,GOB,NaN,N/D,NaN,SUR,ZAPOTLAN EL GRANDE,NaN,CONOCIDO,NaN,103 27 51.4,19 42 9.7,ACTIVO
2,108SP,iMAX,2 MB,GOB,N/D,N/D,N/D,COSTA ORTE,PUERTO VALLARTA,N/D,CONOCIDO,N/D,105 13 32.5,20 38 53.7,ACTIVO
3,021IEE,iMAX,2 MB,BIBLIOTECAS,N/D,N/D,N/D,CIENEGA,OCOTLAN,N/D,N/D,N/D,102 46 30.30,20 21 46.8,ACTIVO
4,057IEE,iMAX,2 MB,IEEA,N/D,N/D,N/D,COSTA SUR,VILLA PURIFICACIîN,N/D,ABASOLO # 174 COL. CENTRO C.P. 48800,48800,-104.6028806,19.7196083,ACTIVO

In [39]:
df["ANCHO DE BANDA CONTRATADO 2014"].fillna(df["ANCHO DE BANDA CONTRATADO 2014"].mode, inplace= True)

In [33]:
target_mean = df["ANCHO DE BANDA CONTRATADO 2014"].mean()

TypeError: can only concatenate str (not "method") to str

In [ ]:
report = sv.analyze(df)
# report.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.